/* css/autoscale.css v1.6.5 FIT-TO-SCREEN
   - width 확장 금지(스크롤/잘림 원인)
   - transform만 적용
*/
@media (pointer: coarse) and (orientation: landscape) and (max-height: 520px) {
  .table{
    transform: translate(var(--autoTx, 0px), var(--autoTy, 0px)) scale(var(--autoScale, 1));
    transform-origin: top left;
  }
}