/* layout.css */
.table{
  position: relative;
  height: calc(100vh - 56px);
  display: grid;
  grid-template-rows: 1fr 1.2fr 1fr;
  grid-template-columns: 1fr 1.2fr 1fr;
  gap: 10px;
  padding: 10px;
}

.seat{
  border:1px solid var(--border-main);
  border-radius:16px;
  background: var(--bg-card);
  padding:10px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.center{
  grid-row:2;
  grid-column:2;
  border:1px solid var(--border-main);
  border-radius:16px;
  background: var(--bg-card);
  padding:12px;
}